@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    outline: none;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

table.dataTable {
    width: 100%;
    border-collapse: collapse;

}

td {
    border-bottom: 1px solid #DFE3E9;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
    color: #7F8FA4;
    text-align: left;
    padding: 10px 0px;
    background-color: white;
    /*padding-right: 16px;*/
    white-space: nowrap;
}

table td:first-child, table th:first-child {
    padding-left: 16px;
}

table td:last-child, table th:last-child {
    padding-right: 16px;
}

th {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7F8FA4;
    background: #F4F6F8;
    border-bottom: 1px solid #DFE3E9;
    text-align: left;
    padding: 5px 0;
    min-height: 40px;
    /*padding-right: 16px;*/
    white-space: nowrap;
}

.dataTables_scroll {
    max-width: 100%;
}

.table-container {
    border-radius: 6px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #DFE3E9;
    overflow: hidden;
}

.dataTables_info, .dataTables_paginate, .dataTables_length, .dataTables_filter {
    display: none;
}

.table-container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #7F8FA4;
    margin-top: 28px;
}

.jstable-paging {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.jstable-paging-set {
    position: relative;
    background: #F4F7FC;
    border-radius: 25px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    box-sizing: border-box;
}

ul.jstable-paging-set-select {
    position: absolute;
    bottom: 32px;
    right: 0;
    background-color: white;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 42px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    display: none;
}

ul.jstable-paging-set-select > li {
    padding: 6px 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #7F8FA4;
    cursor: pointer;
}

.jstable-paging-nav {
    margin: 0 12px;
}

.jstable-paging-nav {
    margin: 0 12px;
}

input.jstable-paging-nav-input {
    background: linear-gradient(360deg, #F2F4F8 0%, #FFFFFF 100%);
    border: 1px solid rgba(127, 143, 164, 0.35);
    box-sizing: border-box;
    border-radius: 4px;
    height: 22px;
    max-width: 60px;
    padding: 0 6px;
}

button.jstable-paging-acction-item {
    background: linear-gradient(180deg, #FDFEFE 0%, #F2F4F7 100%);
    border: 1px solid #CED0DA;
    box-sizing: border-box;
    border-radius: 4px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #7F8FA4;
}

.jstable-paging-nav > button {
    outline: none;
    border: none;
    background: transparent;
    width: 16px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.jstable-paging-set-select > li:hover {
    background: #F4F7FC;
}

.table-container-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.jstable-jhiypfe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button.jstable-iyorty2 {
    background: #FFFFFF;
    border: 1px solid #DFE3E9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #7F8FA4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

span.jstable-iyorty4 {
    margin-right: 4px;
}

.jstable-jhiypfey {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #7F8FA4;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;
    position: relative;
}

ul.jstable-jhiypfeyr {
    display: none;
    padding: 0;
    margin: 0;
}

.jstable-jhiypfeoj {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.jstable-jhiypfeojt {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #7F8FA4;
    cursor: pointer;
}

img.jstable-jhiypfeojre {
    width: 16px;
    height: auto;
    margin-left: 10px;
}

/*.dataTables_scrollBody {*/
/*    overflow-x: auto;*/
/*}*/

/*.dataTables_scrollBody::-webkit-scrollbar {*/
/*    width: 8px;*/
/*    height: 8px;*/
/*}*/

/*.dataTables_scrollBody::-webkit-scrollbar-track {*/
/*    background: #fff;*/
/*}*/

/*.dataTables_scrollBody::-webkit-scrollbar-thumb {*/
/*    background: #bfbfbf;*/
/*    border-radius: 10px;*/
/*}*/

/*.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {*/
/*    background: #808080;*/
/*}*/

.jstable-yowxte2 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.jstable-yowxte4 {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 600px;
    height: auto;
    position: relative;
    z-index: 10;
    /* padding: 20px; */
}

.jstable-yowxte3 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #00000045;
}

.jstable-yowxte5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #7F8FA4;
    border-bottom: 1px solid #E9EDF1;
    padding: 5px 20px;
}

h3.jstable-yowxte6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #7F8FA4;
}

h3.jstable-yowxte6 > img {
    width: 20px;
    margin-right: 15px;
}

.jstable-yowxtee {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #7F8FA4;
    border-top: 1px solid #E9EDF1;
    padding: 20px 20px;
}

ul.jstable-yowxteo {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.jstable-yowxte9 {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #F4F6F8;
    border-radius: 4px 4px 0px 0px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;

    /* GREY TEXT */
    color: #7F8FA4;
}

ul.jstable-yowxte9 > li:nth-child(1), ul.jstable-yowxteo > li > span:nth-child(1) {
    width: 48px;
}

.jstable-yowxte8 {
    padding: 10px 20px;
    height: 500px;
    overflow: auto;
}

ul.jstable-yowxte9 > li:nth-child(2), ul.jstable-yowxteo > li > span:nth-child(2) {
    flex: 1;
}

ul.jstable-yowxte9 > li:nth-child(3), ul.jstable-yowxteo > li > span:nth-child(3) {
    width: 108px;
}

ul.jstable-yowxte9 > li:nth-child(4), ul.jstable-yowxteo > li > span:nth-child(4) {
    width: 108px;
}

ul.jstable-yowxteo > li > span:nth-child(1) {
}

ul.jstable-yowxteo > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    /* Main text */
    color: #354052;
    border-bottom: 1px solid #DFE3E9;
    height: 43px;
}

ul.jstable-yowxteo > li i {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #354052;
}

.jstable-yowxte8 {
}

button.jstable-yowxtel, .jstable-yowxteydrsto {
    background: linear-gradient(180deg, #36CCBE 0%, #0F79A8 100%);
    border-radius: 4px;
    border: none;
    width: 85px;
    height: 32px;
    color: white;
    margin-left: 12px;
}

.jstable-yowxteydrsto {
    background: linear-gradient(180deg, #34AA44 0%, #39B54A 100%);
    border-radius: 4px;
}

button.jstable-yowxtey {
    background: linear-gradient(180deg, #FDFEFE 0%, #F2F4F7 100%);
    /* BORDER BOX */
    border: 1px solid #DFE3E9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 85px;
    height: 32px;
    color: #7F8FA4;
}

ul.jstable-yowxteo > li > span:nth-child(1) img {
    opacity: 0;
}

ul.jstable-yowxteo > li:hover span:nth-child(1) img {
    opacity: 1;
    cursor: move;
}

li.jstb-hide {
    opacity: 0.3;
}

.jstable-oeirueyr4 {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 350px;
    padding: 16px;
    height: auto;
    position: absolute;
    z-index: 9;
    display: none;
    min-height: 300px;
    top: 40px;
}

.jstable-jssleofir .js-select-dropdown {
    /*position: initial !important;*/
}

.jstable-iyorty {
    position: relative;
}

.jstable-oeirueyr4::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.jstable-ufldpcm1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

label.jstable-ufldpcm2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    color: #7F8FA4;
}

input.jstable-ufldpcm6 {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #DFE3E9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    padding-left: 16px;
    font-family: 'Roboto';
}

.jstable-ufldpcm5 {
    margin-top: 16px;
    display: none;
}

.jstable-ufldpcm3 {
    width: 180px;
}

.jstable-ufldpcm7 {
    display: none;
    margin-top: 16px;
}

.jstable-ufldpcm5 {
}

label.jstable-ufldpcm8 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    display: flex;
    align-items: center;
    color: #7F8FA4;
    margin-bottom: 8px;
}

input.jstable-ufldpcm6.jstable-ufldpcm9 {
    margin-bottom: 8px;
}

.jstable-ufldpcm12 {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button.jstable-ufldpcm13 {
    background: linear-gradient(180deg, #36CCBE 0%, #0F79A8 100%);
    border-radius: 4px;
    border: none;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    text-align: right;
    color: #FFFFFF;
    width: 81px;
    height: 32px;
    text-align: center;
}

.jstable-ufldpcm1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

label.jstable-ufldpcm2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    color: #7F8FA4;
}

input.jstable-ufldpcm6 {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #DFE3E9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    padding-left: 16px;
    font-family: 'Roboto';
}

.jstable-ufldpcm5 {
    margin-top: 16px;
    display: none;
}

.jstable-ufldpcm3 {
    width: 180px;
}

.jstable-ufldpcm7 {
    display: none;
    margin-top: 16px;
}

.jstable-ufldpcm5 {
}

label.jstable-ufldpcm8 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    display: flex;
    align-items: center;
    color: #7F8FA4;
    margin-bottom: 8px;
}

input.jstable-ufldpcm6.jstable-ufldpcm9 {
    margin-bottom: 8px;
}

.jstable-ufldpcm12 {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button.jstable-ufldpcm13 {
    background: linear-gradient(180deg, #36CCBE 0%, #0F79A8 100%);
    border-radius: 4px;
    border: none;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    text-align: right;
    color: #FFFFFF;
    width: 81px;
    height: 32px;
    text-align: center;
}

label.jstable-ufldpcmt2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    color: #7F8FA4;
    margin: 16px 0;
    display: block;
}

.jstable-ufldpcmt4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.jstable-ufldpcmt4 > div {
    width: 48%;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.jstable-ufldpcmt4 > div > img {
    cursor: pointer;
}

.jstable-ufldpcmt4 > div > span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #354052;
    margin-left: 7px;
}

.jstable-ufldpcmt12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jstable-ufldpcmt12 > label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #7F8FA4;
}

.jstable-ufldpcmt44 {
    margin: 16px 0;
}

.jstable-ufldpcmt3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* flex: 1; */
}

.jstable-jssleofir3 {
    height: calc(100% - 40px);
}

.jstable-oeirueyr4 {
    height: auto;
}

.jstable-ufldpcm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: inherit;
}

.jstable-ufldpcm12 {
    flex: 1;
    align-items: flex-end;
}

.jstable-iyorty {
    display: flex;
}

.jstable-jssleofird {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.jstable-jssleofird > div {
    height: 32px;
    /* right: 1617px; */
    /* top: 210px; */

    /* Main 1 */
    background: #1caea942;
    /* opacity: 0.2; */
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-left: 12px;
}

.jstable-jssleofird > div > img {
    margin-left: 8px;
}

.jstable-jssleofird > div > span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1CAEA9;
}

img.jstable-iyorty4f3 {
    position: absolute;
    right: -9px;
    bottom: -9px;
    z-index: 2;
    display: none;
}

button.jstable-jssleofird32 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: none;
    align-items: center;
    color: #7F8FA4;
    border: none;
    background: none;
    margin-left: 16px;
}

.jstable-jhiypfeyr {
    position: absolute;
    z-index: 2;
    /* left: 0; */
    top: 30px;
    width: 240px;
    height: auto;
    background-color: white;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    right: 0;
    padding: 12px 9px;
    display: none;
}

button.jstable-jhiypfeyrvk {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* Gray text 100 */
    color: #7F8FA4;
    justify-content: space-between;
    width: calc(100% - 18px);
    margin: 0px 9px;
}

ul.jstable-jhiypfeyr3d {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    margin-top: 12px;
    border-top: 0;
    overflow: hidden;
}

ul.jstable-jhiypfeyr3d > li {
    height: 37px;
    padding: 8px 18px;
    border-top: 1px solid #DFE3E9;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #354052;
    justify-content: space-between;
}

.jstable-jhiypfeyr:after {
    content: " ";
    position: absolute;
    bottom: 100%;
    right: 10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.jstable-yowxtedf2 {
    width: 100%;
    top: 0;
    right: 0;
    height: 100%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.jstable-yowxte6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* Seconde text */
    color: #7F8FA4;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button.jstable-yowxte6 > img {
    margin-left: 6px;
}

.jstable-yowxteds8 > table {
    width: 100%;
    border-collapse: collapse;
}

thead.jstable-yowxteee9 {
    background: #F4F6F8;
    height: 42px;
}

thead.jstable-yowxteee9 th {
    background: #F4F6F8;
    height: 42px;
}

.jstable-yowxteydrt, .jstable-yowxteydrto {
    width: 85px;
    height: 32px;
    background: linear-gradient(180deg, #FDFEFE 0%, #F2F4F7 100%);
    /* BORDER BOX */
    border: 1px solid #DFE3E9;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #7F8FA4;
}

.jstb-sjjforp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.jstb-sjjforp > img {
    width: 29px;
    height: 29px;
    border: 1px solid #1caea9;
    border-radius: 30px;
    margin-right: 6px;
}

.jstb-sjjforp > div {
}

.jstb-sjjforp > div > span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    color: rgba(127, 143, 164, 0.5);
}

.jstb-sjjforp > div > p {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #354052;
}

.w800 {
    width: 800px;
}

.jstable-yowxteds8 {
    padding: 24px;
}

label.jstable-yowxtedds8 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    /* Seconde text */
    color: #7F8FA4;
    display: block;
    width: 120px;
}

.jstable-fyowxteds8 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
}

input.jstable-yowxtreds8 {
    background: #F4F6F8;
    border-radius: 4px;
    width: 100%;
    flex: 1;
    border: none;
    height: 40px;
    padding: 0 12px;
}

input.jstable-yowxt5xreds8 {
    background: #F4F6F8;
    border-radius: 4px;
    width: 100%;
    flex: 1;
    border: none;
    height: 40px;
    padding: 0 12px;
}

.jstable-filebox {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.jstb-cell-view {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

span.jstb-cell-space {
    display: block;
    background-color: rgba(255, 0, 0, 0.2);
    height: 20px;
    line-height: 20px;
    font-size: 7px;
}

.jstb-cellhead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*span.jstb-cellhead-data {*/
/*    display: block;*/
/*    flex: 1;*/
/*}*/
span.jstb-cellhead-data {
    flex: 1;
}

span.jstb-cell-data {
    flex: 1;
}
